<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>

</head>
<body>
    Login
    <div>
        <button id="loginBtn">login</button>
    </div>
    <hr>
    <div style="float: left;width: 50%;" id="log"></div>
    <div style="float: left;width: 50%;" id="logB"></div>

    
</body>
</html>